/* Block tags */
div.tags_block p {
    text-align: justify;
    font-size: 0.9em
}
div.tags_block p a {
    margin: 0 0.1em;
    line-height: 1.5em;
    padding:2px;
}
div.tags_block p a:hover {
    background-color: #ccc;
    text-decoration: none;
    padding:2px;
    color:#333333;
}
a.tag_level3 { font-size: 1.8em; font-weight: bold }
a.tag_level2 { font-size: 1.4em }
a.tag_level1 { font-size: 1em; color: #888 }
