#order .addresses {
    margin-top : 15px;
    padding-top : 10px;
}
/*#order .addresses .custom.dropdown {
    float: left;
}*/

#order .address_delivery select,
#address_invoice_form select {
    width: auto;
}

#order .cart_navigation {
    margin-top : 15px;
}

.addresses {
    padding:0px 15px;
    font-size:12px;
    background: #F8F8F8;
    border: solid 1px #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
}

ul li.address p{
    margin-bottom:5px;
}

ul li.address p.actions{
    margin-top:15px;
}

ul.address {
    list-style-type:none;
    float:left;
    width: 33.33%;
}
#address_delivery {margin-right:35px;}
#address_invoice {margin-right:0}
#delivery_address {margin-right:65px;}

ul.address li.address_firstname,
ul.address li.address_company {
    margin-top:8px
}

.address_select {
    border:1px solid #ccc;
    width: 200px;
    margin-left: 10px;
}
label[for=id_address_delivery], label[for=id_address_invoice] {
    display: inline;
    float: left;
    margin-top: 6px;
    margin-right: 5px;
}
.addressesAreEquals label {
    margin-left: 5px;
}
.addressesAreEquals input {
    float: left;
}

/* PAGE ADRESSES ******************************************************************************* */
.addresses ul.address.alternate_item,
.addresses ul.address.last_item {margin-right:0}
.addresses ul.address .address_title ,
.address .address_title {
    font-size: 1.1em;
    color: #222;
    line-height: 1.1;
    font-weight:bold;
}

.address .address_title{
    margin-bottom : 20px;
}
ul.address li{
    margin : 5px 0 5px 0;
}
.addresses ul.address .address_update {margin-top:20px}

#addresses .address_add{
    margin-top : 15px;
}

@media only screen and (max-width: 767px){ /* Mobile */
    #order .cart_navigation .exclusive{
        margin-top : 15px;
    }
}