/* ************************************************************************************************
        struture
************************************************************************************************ */

.row {
    width: 1020px;
    min-width: 750px;
}

/* ************************************************************************************************
        generic style
************************************************************************************************ */
body{
    background-color: white;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    color: #666;
}

/* positionnement ****************************************************************************** */
.hidden {display:none}
.f_right {float:right}
p.center {text-align:center}
.clearBoth {clear:both}
.align_center{text-align:center;}
.italic{font-style:italic;}
.align_justify{text-align:justify;}
.align_right{text-align: right;}
.align_left{text-align: left;}

/* title *************************************************************************************** */
h1, h2, h3, h4, h5, h6 {
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

h1 {
    font-size: 1.1em;
    color: #5D717E;
font-weight: 700;

}
h2 {
    font-size: 1.4em;
    line-height: 1.6em;
}
h3 {
    font-size: 1.2em;
}
h4 {
    font-size: 1.1em;
}

.hide-left-column #left_column {display:none}

/* text **************************************************************************************** */
p em {font-style:italic}

.warning {
    margin:0 0 10px 0;
    padding:10px;
    border:1px solid #e6db55;
    font-size:13px;
    background:#ffffe0
}
.success {
    margin:0 0 10px 0;
    padding:10px;
    border:1px solid #5cff74;
    font-size:13px;
    background: #d3ffab
}
.error {
    margin:0 0 10px 0;
    padding:10px;
    border:1px solid #990000;
    font-size:13px;
    background:#ffcccc
}
.error ol {margin-left:20px}
.error p.lnk {
    margin-top:20px;
    padding:0;
    font-size:11px
}
.required {color:#990000}

.clearfix:before,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden
}
.clearfix:after {clear: both}
.clearfix {zoom: 1}

/* link **************************************************************************************** */
a {
    color: #666;
    outline: none
}

a:hover {text-decoration:underline}

/* form **************************************************************************************** */

/* table *************************************************************************************** */
table.std,
table.table_block {
    width:100%;
}
table.std th,
table.table_block th {
    padding:14px 12px;
    font-weight:bold;
}
table.std tr.alternate_item,
table.table_block tr.alternate_item {background-color: #f3f3f3}
table.std  td,
table.table_block  td {
    padding:12px;
    border-right:1px solid #e9e9e9;
    border-bottom:1px solid #e9e9e9;
    vertical-align:top
}
table.std > tbody > tr:last-child td,
table.table_block > tbody > tr:last-child td,
table.std > tfoot > tr:last-child td,
table.table_block > tfoot > tr:last-child td {
    border-bottom: none;
}

/* BLOCK .block ******************************************************************************** */
.block {margin-bottom:20px}
.block h4 {
    font-size: 17px;
    border-bottom: 1px solid#c3c3c3;
    padding-bottom: 5px;
    color: #666;
}
.block h4 a:hover { text-decoration: none;}
.block ul {list-style-type:none}
.block li.last {border:none}
.block li a {
    display:block;
}

/* BLOCK customer privacy ******************************************************************* */
.account_creation label{
    float:left;
    padding-top:5px;
    width:80%;
    text-align:left;
    cursor:pointer
}

/* BLOCK .footer_links (cms pages) ************************************************************* */
ul.footer_links {
    list-style-type:none;
    margin-bottom:20px
}
ul.footer_links li {float:left}
ul.footer_links li.f_right {float:right}
ul.footer_links li .icon {
    position:relative;
    top:6px;
    left:0
}

/* barre comparaison / tri ********************************************************************* */
#form_compare{
    float: right;
    margin-bottom: 0;
}
.productsSortForm label{
    float : left;
    margin-right: 10px;
    padding-top : 5px;
}
.content_sortPagiBar {margin:0;}
#center_column .sortPagiBar strong {color:#000;}
#center_column .sortPagiBar p {padding:0;}
.sortPagiBar .productsSortForm {
    float : left;
    margin-bottom: 0;
}
.productsSortForm .custom.dropdown {
    float: left;
}
.sortPagiBar .selectProductSort {
    float : left;
    width: auto;
}

.sortPagiBar .nbrItemPage {margin-left:40px;}

.sortPagiBar .PrductSort {float:left;}

.sortPagiBar .nbrProduct {
    display:inline-block;
    padding:0 10px;
}

.sortPagiBar #nb_item {border:1px solid #ccc}

/* pagination ********************************************************************************** */
form.pagination {display:none;}

div.pagination {
    margin:10px 0;
    text-align: center
}
ul.pagination {list-style-type:none}
ul.pagination li {display: inline;}
ul.pagination a,
ul.pagination span {
    display:inline-block;
    height:26px;
    width:24px;
    border:1px solid #eee;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    font:11px/24px Arial,Verdana,sans-serif;
    color:#999
}
ul.pagination a {
    text-align:center;
}
ul.pagination li a {
    padding: 0;
}
ul.pagination li:hover a {
    background: #2795b6;
}
ul.pagination a:hover {
    color: white;
    text-decoration: none;
}
ul.pagination .current span {
    color:#000;
    border:1px solid #fff
}
ul.pagination li.disabled span {color:#ccc}

#pagination_previous {float:left}
#pagination_next {float:right}
#pagination_previous a, #pagination_previous span,
#pagination_next a, #pagination_next span {
    padding:0 8px;
    width:auto;
}
#pagination_previous span,
#pagination_next span {
    color:#ccc;
    border:1px solid #eee
}

/* CART steps *********************************************************************** */
ul.step.block-grid{
    margin-top: 25px;
    margin-bottom: 15px;
}

ul.step li{
    text-align : center;
    font-size : 1.3em;
    font-weight : bold;
    color: #A7A7A7;
}

ul.step li a{
    color: #A7A7A7;
}

ul.step li a:hover{
    text-decoration : none;
    color: black;
}

ul.step li.step_current,
ul.step li.step_current_end{
    color: black;
}

ul.step li .bullet{
    background-color: #CACACA;
    padding: 10px 10px 5px 10px;
    color: white;
}

ul.step li.step_current .bullet,
ul.step li.step_current_end .bullet,
ul.step li.step_done a:hover .bullet{
    background-color: #2BA6CB;
    padding: 10px 10px 5px 10px;
    color: white;
}

/* module productcomments ********************************************************************** */
.rating {
    clear: both;
    display: block;
    margin: 2em;
    cursor: pointer;
}
.rating:after {
    content: '.';
    display: block;
    height: 0;
    width: 0;
    clear: both;
    visibility: hidden
}
.cancel,
.star {
    overflow: hidden;
    float: left;
    margin:0 1px 0 0;
    width: 16px;
    height: 16px;
    text-indent: -999em;
    cursor: pointer
}
.cancel, .cancel a { background: url(../../../modules/productcomments/img/delete.gif) no-repeat 0 -16px !important }
.star, .star a { background: url(../../../modules/productcomments/img/star.gif) no-repeat 0 0 }
.cancel a, .star a {
    display: block;
    width: 100%;
    height: 100%;
    background-position: 0 0
}
div.star_on a { background-position: 0 -16px }
div.star_hover a,
div.star a:hover { background-position: 0 -32px }
.pack_content { margin: 10px 0 10px 0 }
.confirmation {
    margin: 0 0 10px;
    padding: 10px;
    border: 1px solid #e6db55;
    font-size: 13px;
    background: none repeat scroll 0 0 #ffffe0;
}

.listcomment {
    list-style-type:none;
    margin:0 0 20px 0 !important;
}
.listcomment li {
    padding:10px 0;
    border-bottom:1px dotted #ccc;
    color:#666
}
.listcomment .titlecomment {
    display:block;
    font-weight:bold;
    font-size:12px;
    color:#333
}
.listcomment .txtcomment {
    display:block;
    padding:5px 0;
    color:#333
}

/* ************************************************************************************************
        HEADER
************************************************************************************************ */
#header {
    position:relative;
}
#header_logo {
    margin-bottom: 10px;
}

/* ************************************************************************************************
        BREADCRUMB
************************************************************************************************ */
.breadcrumb {
    margin-bottom:10px;
    font-size:12px
}
.breadcrumb .navigation-pipe {margin:0 3px 0 5px}
.breadcrumb img {
    position:relative;
    top:5px
}

/* ************************************************************************************************
        SIDEBAR
************************************************************************************************ */

@media (min-width: 768px) {
    #sidebar { width: 25%; }
}

/* Fix style for pages wihtout sidebar */
#order #sidebar,
#order #sidebarButton,
#product #sidebar,
#product #sidebarButton,
#order-opc #sidebar,
#order-opc #sidebarButton,
#module-cheque-payment #sidebar,
#module-cheque-payment #sidebarButton,
#module-bankwire-payment #sidebar,
#module-bankwire-payment #sidebarButton {display:none}

#order #center_column,
#product #center_column,
#order-opc #center_column,
#module-cheque-payment #center_column,
#module-bankwire-payment #center_column {width: 100%}

#order #header_user .nav-bar > li > a,
#product #header_user .nav-bar > li > a,
#order-opc #header_user .nav-bar > li > a,
#module-cheque-payment #header_user .nav-bar > li > a,
#module-bankwire-payment #header_user .nav-bar > li > a { padding-left: 20px; }

/* ************************************************************************************************
        CENTER COLUMN
************************************************************************************************ */

@media (min-width: 768px) {
    #center_column { width: 100%; }
}

/* ************************************************************************************************
    FOOTER
************************************************************************************************ */
#footer {
    clear: both;
    margin-top: 15px;
    padding: 12px 0 12px 0;
    background-color: #F8F8F8;
    border-top: 1px solid #E2E2E2;
    box-shadow: 0 -3px 16px #E0E0E0;
    -webkit-box-shadow: 0 -3px 16px #E0E0E0;
    -moz-box-shadow: 0 -3px 16px #E0E0E0;
}

#footer a:hover {text-decoration:underline}

/* ************************************************************************************************
    Product list
************************************************************************************************ */
ul.product_list .product_price{
    margin-bottom: 5px;
}

ul.product_list li{
    text-align : center;
    margin-bottom: 10px;
    position: relative;
}

ul.product_list .product_price .price{
    font-size : 1.2em;
    color: #000;
    font-weight: bold;
}

ul.product_list .product_price .original_price{
    text-decoration: line-through;
    font-size : 1.1em;
}

ul.product_list h5{
    overflow: hidden;
    white-space: nowrap;
    font-size: 1.2em;
}

ul.product_list h5 a{
    color: #666;
    font-weight: normal;
font-size: .85em;
}

/*ul.product_list a.product_image img{
    border: 1px solid #D0D1D5;
    box-shadow: 5px 5px 12px #CECCCC;
    -webkit-box-shadow: 5px 5px 12px #CECCCC;
    -moz-box-shadow: 5px 5px 12px #CECCCC;
    background-color : white;
    padding : 5px;
    width : 100%;
    opacity: 1;
}*/

ul.product_list a.product_image img:hover{
    opacity: .5;
    -webkit-transition: opacity;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 500ms;
    -moz-transition: opacity;
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 500ms;
    transition: opacity;
    transition-timing-function: ease-out;
    transition-duration: 500ms;
}

ul.product_list .product_actions{
    font-size : 1.2em;
    text-align : left;
}

ul.product_list .product_description_short{
    min-height : 100px;
    max-height: 120px;
    overflow: hidden;
}

ul.product_list span.advert {
display: none;
/* position: absolute;
    background: #EF4135;
    color: white;
    padding: 4px;
    z-index: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 -1px 0 rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
*/
}
ul.product_list span.advert.online_only {
display: none;
/*    background: #2ba6cb;
    right: 0;
    bottom: 3px;
*/
}

ul.product_list .compare{
    margin-bottom: 0;
    margin-top: 5px;
}

/* ************************************************************************************************
        PRODUCT PAGE
************************************************************************************************ */

/* BLOCK idTabs ******************************************************************************** */
.idTabs {
    list-style-type: none;
    border-bottom: solid 1px #E6E6E6;
    margin-top: 1em;
    height: 39px;
}
ul.idTabs li {
    float: left;
}
.idTabs a {
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #6F6F6F;
    padding: 10px 23.8px;
}
.idTabs a:hover {
    text-decoration: none;
}
.idTabs .selected {
    border-top: 3px solid #2BA6CB;
    margin-top: -3px;
    cursor: default;
    color: #3C3C3C;
    background: white;
    border-left: 1px solid #E6E6E6;
    border-right: 1px solid #E6E6E6;
    font-weight: bold;
}

#more_info_sheets ul,
#more_info_sheets ol,
#more_info_sheets dl {margin-left:15px}
#more_info_sheets em {font-style:italic}

#more_info_sheets .product_desc{
    margin-top:5px
}

#more_info_sheets .product_desc .product_image{
    float:left;
}

#more_info_sheets .product_desc .block_description{
    float:left;
    margin-left:10px;
    width:420px
}
#more_info_sheets .product_desc .clear_product_desc{
    clear:both;
    height:0;
    line-height:0px
}

/* Make sure lists are correctly displayed in tinyMCE BO edition mode too */
#short_description_content ul,
#short_description_content ol,
#short_description_content dl,
#tinymce ul,
#tinymce ol,
#tinymce dl {margin-left:20px}

.block_hidden_only_for_screen {display:none}
/* ************************************************************************************************
        PAIMENT - PAGE ORDER
************************************************************************************************ */

/* nav bottom ********************************************************************************** */
#order #left_column , #order-confirmation #left_column {display:none}

.cart_navigation .exclusive,
.cart_navigation .exclusive_large {
    float:right
}

/* step 1 - cart ******************************************************************************* */
.cart_last_product {display:none}

#order-detail-content {
    margin-bottom:20px;
    margin-top: 20px;
}

table#cart_summary th {
    font-weight:bold;
    padding: 12px 10px 12px;
}
table#cart_summary td { border-right: none; }
table#cart_summary  th.cart_product {text-align:center}
table#cart_summary  td.cart_delete,
table#cart_summary  td.price_discount_del {border-right:none;text-align: center}
table#cart_summary tr.cart_total_price_last{
    background : white;
}
table#cart_summary tr.cart_item.even {
    background-color: #f3f3f3
}

table#cart_summary tr.customization.odd {
    background-color: #fff
}
table#cart_summary tr.customization.even {
    background-color: #f3f3f3
}

table#cart_summary tr ul {
    list-style: none;
}
table#cart_summary .cart_product {
    text-align:center;
}
table#cart_summary  .cart_product  img {
    border: 1px solid #D0D1D5;
    box-shadow: 2px 2px 6px #CECCCC;
    -webkit-box-shadow: 2px 2px 6px #CECCCC;
    -moz-box-shadow: 2px 2px 6px #CECCCC;
    background-color: white;
    padding: 5px;
}
table#cart_summary .cart_description h5{
    margin-top : 0;
}
table#cart_summary .cart_unit {text-align: center}
table#cart_summary td.cart_unit {text-align: right}
table#cart_summary  .cart_quantity {
    width: 80px;
    text-align: center;
}
table#cart_summary .customization .cart_quantity {padding: 8px 12px 0;}
.cart_quantity .cart_quantity_input {
    float:left;
    margin-left: 5px;
    width: 30px;
    text-align: center;
}

tbody tr.cart_discount{
    border-bottom: 1px solid #DDD;
}

tbody tr.cart_discount td.cart_discount_delete{
    text-align : center;
}

.cart_quantity .cart_quantity_button {
    float:left;
    position: relative;
    top: -5px
}
table#cart_summary tfoot tr td:first-child {
    text-align: right
}
table#cart_summary .cart_total {text-align: right;}
table#cart_summary td.cart_total {text-align: right}
table#cart_summary .cart_delete {
    text-align:center
}
table#cart_summary .cart_discount_price {text-align: right}
.cart_delete a.cart_quantity_delete,
a.price_discount_delete {
    display:inline-block;
    padding:1px 2px;
    font-size:8px;
    color:#666;
    text-transform:uppercase;
    text-shadow:0 1px 0 #fff;
    background:#ccc;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

.cart_total_price .total_price_container {
    border-right:none;
}

table#cart_summary .cart_total_price td.cart_voucher {
    vertical-align:middle
}

.cart_voucher h4 {
    margin-right:12px;
}
.cart_voucher #display_cart_vouchers {
    padding-top: 5px;
    padding-bottom: 5px;
    color:#666;
    font-weight:normal;
    border-top:1px dotted #ccc
}

table.table_responsive{
    width : 100%;
}

table tfoot {
    background : none;
}

table tfoot tr{
    border-bottom: 1px solid #DDD;
}

table .price {
    border-right:none;
    text-align: right;
    white-space: nowrap;
}

table .total_price_container {
    padding:0;
}

table tr.cart_total_price .cart_total_price_last p {
    display:block;
    padding:8px;
    font-weight:bold;
    color:#fff;
    text-transform:uppercase;
    background:#333;
    margin-bottom: 0;
    text-align: center;
}

table tr.cart_total_price .cart_total_price_last span {
    display:block;
    padding:15px;
    font-weight:bold;
    font-size:18px;
    text-align:center
}

#order_carrier {
    clear:both;
    margin-top:20px;
    border:1px solid #999;
    background:#fff
}
#order_carrier h4 {
    padding:0 15px;
    height: 29px;
    font-weight: bold;
    line-height:29px;
    color:#fff;
    font-weight:bold;
    text-transform:uppercase;
    background:url(../img/bg_table_th.png) repeat-x 0 -10px #999
}
#order_carrier span {
    display:block;
    padding:15px;
    font-weight:bold
}

.order_delivery .first_item {margin-right:35px;}

.multishipping_close_container {
    text-align: center;
}

table#cart_summary .gift-icon {
    color: white;
    background: #0088CC;
    line-height: 20px;
    padding: 2px 5px;
    border-radius: 5px;
}

/* step 2 - authentification ******************************************************************* */
#order-opc #login_form_content label {
    display:block;
    margin:0 0 10px 0
}
#order-opc #login_form_content {
    margin-top:15px;
}

.lost_password {
    float:left;
    width:200px
}
.lost_password a {color:#666}

#order-opc .lost_password {
    display:block;
    float:none;
    margin:5px 0 10px;
    width:auto;
    font-size:11px;
    color:#666
}

#ordermsg p {padding-bottom:0}

/* step 3 - address ************************************************************************** */

.address-form-multishipping { padding: 10px 0; }
#multishipping_mode_box {
    border: 1px solid #D0D3D8;
    background: url("../img/form_bg.jpg") repeat-x scroll left top #D0D1D5;
    margin-bottom: 10px;
    padding: 5px;
}
#multishipping_mode_checkbox {
    vertical-align: middle;
    margin-right: 5px;
}
#multishipping_mode_box.on {
    border: 1px solid #ddd;
}
#multishipping_mode_box .title {
    padding: 5px;
    font-weight: bold;
}
#multishipping_mode_box .description, #multishipping_mode_box .description_off {
    padding: 5px;
}
#multishipping_mode_box .description_off {
    display: none;
    padding: 5px;
}
#multishipping_mode_box .description_off div {
    margin-bottom: 10px;
}
#multishipping_mode_box .description_off a, #multishipping_mode_box .description a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 5px 10px;
    margin: 0 160px;
    border: 1px solid #ccc;
    background: #ddd;
}
#multishipping_mode_box .description_off a:hover, #multishipping_mode_box .description a:hover {
    background: #f3f3f3;
    border: 1px solid #ccc;
}
#multishipping_mode_box.on .description_off {
    display: block;
}

h3.carrier_title{
    margin-top: 0;
}

/* step 4 - paiement ************************************************************************** */

#order .delivery_options_address h3,
#order-opc .delivery_options_address h3 {
    padding: 6px 11px;
    margin : 0;
    font-size: 12px;
    color: #fff;
    background: none repeat scroll 0 0 #383838;
}
#order .delivery_option_radio, #order-opc .delivery_option_radio {
    float: left;
    margin: 21px 12px;
}
#order .delivery_option label,
#order-opc .delivery_option label {
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #C2C2C2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background: white;
}
#order .delivery_option label:hover,
#order-opc .delivery_option label:hover{
    box-shadow: 2px 2px 6px #CECCCC;
    -webkit-box-shadow: 2px 2px 6px #CECCCC;
    -moz-box-shadow: 2px 2px 6px #CECCCC;
}
#order .delivery_option label > table.resume, #order-opc .delivery_option label > table.resume {
    margin: 0;
    border: none;
}

#order-opc .delivery_option{
    margin : 0 0 10px 0;
}

#order .delivery_option.alternate_item,
#order-opc .delivery_option.alternate_item {

}
#order .delivery_option label > table.resume td,
#order-opc .delivery_option label > table.resume td {
    padding: 0 8px;
}
#order .delivery_option label > table.resume td + td,
#order-opc .delivery_option label > table.resume td + td {
    width: 300px;
}
#order .delivery_option label > table.resume td + td + td,
#order-opc .delivery_option label > table.resume td + td + td {
    width: 100px;
    text-align: right;
}
#order .delivery_option_carrier td {width:200px}
#order .delivery_option_carrier td + td {width:280px;}
#order .delivery_option_carrier td + td + td {width:200px}
#order .delivery_options_address .delivery_option_logo, #order .delivery_option_carrier .delivery_option_logo, #order-opc .delivery_options_address .delivery_option_logo {
    padding-left:10px;
    width: 160px;
}
#order .delivery_options_address .delivery_option_logo img, #order-opc .delivery_options_address .delivery_option_logo img { /*height: 40px;*/ }
#order .delivery_option_carrier .first_item, #order-opc .delivery_option_carrier .first_item {
    padding: 3px 5px 3px 12px;
    background:url(../img/arrow_right_2.png) no-repeat 3px 7px
}

#order .order_carrier_content{
    margin-top : 15px;
}

.order_carrier_content{
    padding:15px;
    border: solid 1px #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background:#f8f8f8;
    margin-bottom : 20px;
}
.order_carrier_content input {
    position:relative;
    top:1px
}

.order_carrier_content .checkbox{
    margin-bottom : 0;
}

#carrierTable {
    border:1px solid #999;
    border-bottom:none;
    background:#fff
}

#carrierTable tbody{
    border-bottom:1px solid #999;
}
#carrierTable  th {
    padding:0 15px;
    height: 29px;
    font-weight: bold;
    line-height:29px;
    color:#fff;
    text-transform:uppercase;
    background:url(../img/bg_table_th.png) repeat-x 0 -10px #999
}
#carrierTable  td {
    padding:15px;
    font-weight:bold;
    border-right:1px solid #e9e9e9
}
#carrierTable  td.carrier_price {border:none}

#gift_div {
    display:none;
    padding-bottom:10px
}
#gift_div label {
    display:block;
    margin-bottom:5px
}
#gift_div #gift_message {
    height:50px;
    width:720px;
    border:1px solid #999
}

a.iframe {font-weight:bold}

.hook_extracarrier {
    margin-top: 5px;
    padding: 5px;
}

/* step 5 - paiement ************************************************************************** */
.paiement_block {
    border: solid 1px #DDD;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    padding: 0 12px 12px;
    margin: 18px 0;
    background: #F8F8F8;
}

#order-opc .paiement_block {
    padding-top: 12px;
}

#order .paiement_block {
    border : none;
    padding : 0;
    background: none;
}

.paiement_block .warning{
    margin: 0;
}

.payment_module {
    border: 1px solid #C2C2C2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    background: white;
    padding: 10px;
    margin-bottom: 0;
    margin-top: 10px;
}

.payment_module:hover {
    box-shadow: 2px 2px 6px #CECCCC;
    -webkit-box-shadow: 2px 2px 6px #CECCCC;
    -moz-box-shadow: 2px 2px 6px #CECCCC;
}

.payment_module img {
    float:left;
    margin-right:10px
}

.payment_module:before,
.payment_module:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden
}
.payment_module:after {clear: both}
.payment_module {zoom: 1}

/* ************************************************************************************************
        PAGE ORDER-OPC
************************************************************************************************ */
#order-opc #left_column {display:none}

#order-opc h2 span {
    display:inline-block;
    padding:5px 7px;
    color:#fff;
    background:#333;
}

#order-opc #login_form fieldset {
    font-size: 13px;
    margin: 0 0 10px;
    padding: 10px;
}
#order-opc #login_form fieldset p {padding:0}
#order-opc #login_form fieldset h3{
    margin:0;
}

#order-opc .addresses {
    margin-bottom:20px;
    padding-top: 15px;
}

#order-opc #id_address_delivery{
    width : auto;
}
#order-opc #opc_delivery_methods h3 {margin-top: 0;}
#order-opc #opc_payment_methods {margin-bottom:20px}

.delivery_option_carrier td {width:200px}
.delivery_option_carrier td + td {width:280px;}
.delivery_option_carrier td + td + td {width:200px}
.delivery_option_carrier {
    margin: 5px 0 0 45px;
    width: 670px;
    display: none;
}
 .delivery_option_carrier tr td {
    padding: 5px;
}
.delivery_option_carrier.selected {
    display: table;
}
.delivery_option_carrier.not-displayable {
    display: none;
}
.delivery_option_title {
    font-weight: bold;
}

/* ************************************************************************************************
        CMS CATEGORY PAGES
************************************************************************************************ */

#cms .bullet {
    margin-left: 15px;
}

/* ************************************************************************************************
    express checkout
************************************************************************************************ */
#new_account_form p.required {color:#222}
#new_account_form p.required sup {color:#990000}
#new_account_form #submitGuestAccount {float: right}

/* ************************************************************************************************
        paiment - CONFIRMATION
************************************************************************************************ */
#orderconfirmation #left_column {display:none}

/* ************************************************************************************************
        PAGE PASSWORD
************************************************************************************************ */
#form_forgotpassword  p.text label {
    font-weight: bold;
}

#password .icon {
    position:relative;
    top:6px;
}

/* ************************************************************************************************
        PAGE ADRESSES
************************************************************************************************ */
#addresses #left_column {display:none}

#address p.inline-infos {
    color:#666;
}

/* ************************************************************************************************
        PAGE ADD ADRESS
************************************************************************************************ */
#address #left_column {display:none}

#add_adress fieldset {
    margin:0;
}
#add_adress h3 {
    margin-top : 0;
    font-size:14px;
}
#add_adress p.required {color:#222}
#add_adress p.required  sup {color:#990000}

#add_adress p.text label,
#add_adress p.password label,
#add_adress p.select label,
#add_adress p.select span,
#add_adress p.textarea label {
    font-size:13px;
}
#add_adress p.text input,
#add_adress p.password input,
#add_adress p.select input {
    border:1px solid #ccc;
    color:#666
}
#add_adress p.select select {
    color:#666
}
#add_adress p.textarea label {vertical-align:top}
#add_adress p.textarea textarea {
    height:80px;
    width:370px;
    border:1px solid #ccc;
    font-size: 12px;
    color:#666
}
#center_column  #add_adress p.submit2 {
    margin-top:20px;
    text-align:right
}

#add_adress span.form_info,
#add_adress span.inline-infos {
    display:block;
    margin:5px 0 0 265px;
    color:#666
}

/* ************************************************************************************************
        PAGE ORDER-SPLIP
************************************************************************************************ */
#order-slip #left_column {display:none}

#order-slip #order-list {border-bottom:1px solid #999}
#order-slip #order-list td {
    border-top: 1px solid #ccc;
    border-bottom:none
}
#order-slip #order-list td.history_invoice {border-right:none}

/* ************************************************************************************************
        PAGE DISCOUNT
************************************************************************************************ */
#discount #left_column {display:none}

#discount .table_block tr.last_item td {border-bottom:1px solid #999}
#discount .table_block td.discount_expiration_date {border-right:1px solid #999}
#discount .table_block td.discount_value {white-space:nowrap}

/* ************************************************************************************************
        PAGE ORDER DETAIL
************************************************************************************************ */

.info-order-title h4 {
    margin-top: 0;
}

.info-order-title h4 input {
    position: relative;
    top: -10px;
    float:right;
}

/* ************************************************************************************************
        PAGE ORDER FOLLOW
************************************************************************************************ */
#order-follow #left_column {display:none}

/* ************************************************************************************************
        PAGE NEW-PRODUCTS
        PAGE BEST SALES
        PAGE PRICES DROP SALES
************************************************************************************************ */
#new-products .sortPagiBar,
#best-sales .sortPagiBar,
#prices-drop .sortPagiBar {margin-bottom:20px}

/* ************************************************************************************************
        PAGE MANUFACTURER
************************************************************************************************ */
#manufacturer #product_list {margin-top:15px}
.description_box {
    border: 1px solid #CCCCCC;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 1px 1px #E2E2E2;
    padding: 5px;
    margin-bottom: 20px;
    font-size: 12px;
    line-height: 18px;
}
.description_box p {
    margin: 0;
    padding: 0 10px 5px;
}
.description_box .hide_desc {
    display: none;
}
.description_box .lnk_more {
    background: url("../img/arrow_right_1.png") no-repeat scroll 100% 4px transparent;
    color: #0088CC;
    padding: 0 10px;
}
.description_box ul {
    padding-left: 30px;
    padding-bottom: 10px;
}

/* ************************************************************************************************
        PAGE MANUFACTURER
        PAGE SUPPLIER
************************************************************************************************ */
ul#manufacturers_list,
ul#suppliers_list { list-style-type:none }

ul#suppliers_list li,
ul#manufacturers_list li {
    margin-bottom: 14px;
    padding: 12px 8px;
    border: 1px solid #eee;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

ul#manufacturers_list li h3,
ul#suppliers_list li h3 {
    margin-top: 0;
}

ul#manufacturers_list li .right_side,
ul#suppliers_list li .right_side {float:right; }

ul#manufacturers_list li img,
ul#suppliers_list li img {
    display: block;
    float: left;
    margin-right: 14px;
    border: 1px solid #ccc;
    vertical-align: bottom
}

ul#suppliers_list li a.lnk_img,
ul#manufacturers_list li a.lnk_img {
    display: block;
    float: left;
}

/* ************************************************************************************************
        PAGE SEARCH
************************************************************************************************ */
#search h3.nbresult {
    margin:0 0 10px 0;
    padding:10px;
    border:1px solid #e6db55;
    font-size:13px;
    background:#ffffe0
}

/* ************************************************************************************************
        PAGE 404
************************************************************************************************ */
#pagenotfound .pagenotfound a {
    font-weight:bold;
    color:#333
}
#pagenotfound .pagenotfound .icon {
    position:relative;
    top:6px
}

/* ************************************************************************************************
        addons google checkout
************************************************************************************************ */
#module-gcheckout-payment #left_column {display:none}

/* ************************************************************************************************
        addons paypal
************************************************************************************************ */
#module-payment-submit #left_column {display:none}

/* ************************************************************************************************
        addons cashondelivery validation
************************************************************************************************ */
#module-cashondelivery-validation #left_column {display:none}

/* ************************************************************************************************
        addon RerversoForm
************************************************************************************************ */
#account-creation_form fieldset.reversoform {padding:10px !important}
#account-creation_form fieldset.reversoform  .text label{
    display:block;
    padding:0 0 10px 0;
    width:100%;
    text-align:left;
}
#account-creation_form fieldset.reversoform .infos-sup {
    padding:0 !important;
    font-size:10px;
    font-style:italic;
    text-align:right
}

/* ************************************************************************************************
        addon customer privacy
************************************************************************************************ */
#account-creation_form fieldset.customerprivacy label{
    padding-bottom:0;
    font-size:14px;
    text-align:left;
    cursor:pointer
}

/* ************************************************************************************************
        addon referralprogram
************************************************************************************************ */
#module-referralprogram-referralprogram-program #left_column {display:none}

#footer .myaccount li.referralprogram img {display:none}

#module-referralprogram-referralprogram-program .sheets {padding-top:10px}

#module-referralprogram-referralprogram-program form p.checkbox {font-weight:bold}
#module-referralprogram-referralprogram-program form p.checkbox a {text-decoration:underline}
#module-referralprogram-referralprogram-program form p.submit {text-align:right}
#module-referralprogram-referralprogram-program form p.see_email {
    padding-left:10px;
    color: #0088cc;
    background:url(../img/arrow_right_1.png) no-repeat 0 4px;
}
#module-referralprogram-referralprogram-program form p.see_email a {
    color: #0088cc;
    text-decoration:underline
}

/* ************************************************************************************************
        addon loyalty
************************************************************************************************ */
#module-loyalty-default #left_column {display:none}

#product p#loyalty {
    padding:10px 0 0 20px;
    border-top:1px solid #ccc;
    background:url(../img/icon/info.png) no-repeat 0 8px;
    margin-top: 10px;
}

#footer .myaccount li.loyalty img {display:none}

/* ************************************************************************************************
        addon Livezilla
************************************************************************************************ */
#livezilla_lnk  {
    margin:10px 0;
    text-align: right
}
#livezilla_lnk a {
    display:inline-block;
    padding:6px 8px 8px 8px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font:bold 10px Arial,Verdana,sans-serif;
    color:#fff;
    text-shadow: 0 -1px 0 #000;
    background: url(../img/bg_bt_compare.gif) repeat-x scroll 0 0 #000
}
#livezilla_lnk a:hover {text-decoration:none}

/* ************************************************************************************************
        addons comments products
************************************************************************************************ */
form#sendComment  fieldset{
    padding:10px;
    border:1px solid #ccc;
    background:#eee
}
form#sendComment h3 {font-size:14px;}
#new_comment_form p.text {
     margin-bottom: 0;
     padding-bottom: 0;
}
#sendComment p.text label,
#sendComment p.textarea label {
    display: block;
    margin: 12px 0 4px;
    font-weight: bold;
    font-size: 12px;
}
#sendComment p.text input {
    padding: 0 5px;
    height: 28px;
    width: 498px;
    border: 1px solid #ccc;
    background: url(../img/bg_input.png) repeat-x 0 0 #fff;
}
#sendComment p.textarea textarea {
    height:80px;
    width:508px;
    border:1px solid #ccc;
}
#sendComment p.submit {
    padding:0;
    text-align:right
}

#sendComment p.closeform {
    float:right;
    padding:0;
    height:12px;
    width:12px;
    text-indent:-5000px;
    background:url(../img/icon/delete.gif) no-repeat 0 0
}

.star {
    position: relative;
    top:2px;
    float: left;
    height: 12px;
    width: 12px;
    overflow: hidden;
    text-indent: -999em;
    cursor: pointer
}
.star, .star a { background: url(../../../modules/productcomments/img/star.gif) no-repeat 0 0 }
div.star_on a { background-position: 0 -12px }
div.star_hover a, div.star a:hover { background-position: 0 -12px }

/* ************************************************************************************************
        guest tracking
************************************************************************************************ */

#guest-tracking fieldset p:first-child {
    padding-top: 10px;
}
#guest-tracking fieldset p:last-child {
    padding-bottom: 10px;
}

/* ************************************************************************************************
        CSS Modules
************************************************************************************************ */

/******* IMPORTANT - Internet Explorer can read 31 CSS files max. Some CSS have been put here and erased from their own module folder.************/


/*#sidebar #categories_block_left h5 {
    margin-bottom: 0;
    border-bottom: 1px solid#c3c3c3;
    padding-bottom: 5px;
    color: #666;
}

#sidebar #categories_block_left ul {
    padding-top: 5px;
    padding-bottom: 0;
}*/

/*************** Block COMMUN ***************/
#sidebar .block h4 {
    margin-bottom: 2px;
}

#sidebar .block ul {
    margin-bottom: 2px;
}

#sidebar .block li {
    border-bottom:1px dotted #ccc;
    padding-bottom: 5px;
    padding-top: 3px;
}

#sidebar .block li.last,
#sidebar .block li.last_item { border:none; }

#sidebar .block li a {
    display:block;
    padding:7px 11px 5px 22px;
    background:url(../../../modules/blockmanufacturer/img/arrow_right_2.png) no-repeat 0 13px transparent
}
/*************** Block ADVERTISING ***************/
.advertising_block { width: 191px; margin-bottom: 1em; text-align: center }

/*************** Block CATEGORIES ***************/
#categories_block_left  li { border-bottom:1px dotted #ccc}
#categories_block_left  li.last { border:none;}
#categories_block_left  li a {
    padding: 6px 11px 8px 22px;
    background:url(../../../modules/blockcategories/img/arrow_right_2.png) no-repeat left transparent;
    z-index: 1;
    display: inline-block;
}

#categories_block_left  li ul {margin-left:40px}
#categories_block_left  li ul li {border:none}
#categories_block_left  li ul li a {
    padding-left:0;
    background:none;
}

#sidebar #categories_block_left li .OPEN,
#sidebar #categories_block_left li .CLOSE {
    display: block;
    float: right;
    margin: 10px 0 0;
    padding: 0;
    height: 20px;
    width: 20px;
    background: url('../img/icon/less.gif') no-repeat 10px 0;
    cursor: pointer;
    z-index: 1000;
}
#sidebar #categories_block_left li .CLOSE {
    background: url('../img/icon/more.gif') no-repeat 10px 0;
}

/* footer */
.blockcategories_footer {
    padding:15px 10px;
}
.blockcategories_footer ul ul {display:none !important}

/*************** Block CMS ***************/
/* Block CMS links */
.informations_block_left li {border-bottom:1px dotted #eee}
.informations_block_left li.last {border:none;}
.informations_block_left li a {
    display:block;
    padding:7px 11px 5px 22px;
    color:#333;
    background:url(../../../modules/blockcms/img/arrow_right_2.png) no-repeat 10px 10px transparent;
}

tr.subitem > td:first-child + td {
    padding-left: 10px;
}

/*************** Block CONTACTINFOS ***************/

#block_contact_infos {padding:15px 10px;}
#block_contact_infos li {
    padding:0 !important;
    line-height: 20px;
}
#block_contact_infos li  strong {
    font-weight:normal;
    font-size:13px;
}
#block_contact_infos li  pre {font: 11px/20px Arial,Verdana,sans-serif;}

/*************** Block LINK ***************/
#links_block_left .block_content li {border-bottom:1px dotted #eee}
#links_block_left .block_contentt li.last {border:none;}
#links_block_left .block_content li a {
    display:block;
    padding:7px 11px 5px 22px;
    background:url(../../../modules/blocklink/img/arrow_right_2.png) no-repeat 10px 10px transparent;
}

/*************** Block MANUFACTURER ***************/
.blockmanufacturer form {margin-top:10px;}
.blockmanufacturer p {
    padding:0;
    text-align:center
}

/*************** Block LOGO PAYMENT ***************/

.paiement_logo_block { width: 191px; text-align: center; margin-bottom: 1.5em }
.paiement_logo_block a { text-decoration: none }
.paiement_logo_block img { margin: 0 0.5em }



/*************** Block RSS ***************/
#rss_block_left p {
    margin:0;
    padding:10px;
}

#rss_block_left li {border-bottom:1px dotted #ccc}
#rss_block_left li.last {	border:none;}
    #rss_block_left li a {
        display:block;
        padding:7px 11px 5px 22px;
        color:#333;
        background:url(../../../modules/blockrss/img/arrow_right_2.png) no-repeat 10px 10px transparent
    }


/*************** Block SOCIAL ***************/
#social_block {padding:15px 10px;}
#social_block li {padding-left:22px !important;}
#social_block li.facebook {background:url(../../../modules/blocksocial/img/sprite_pict_social_block.png) no-repeat 0 6px;}
#social_block li.twitter {background:url(../../../modules/blocksocial/img/sprite_pict_social_block.png) no-repeat 0 -26px;}
#social_block li.rss {background:url(../../../modules/blocksocial/img/sprite_pict_social_block.png) no-repeat 0 -56px;}


/*************** Block STORE ***************/
.blockstore img { margin: 10px 0 0 0}
.blockstore p {
    padding-bottom:0;
    font-weight:bold;
    text-align: right
}
.blockstore p.store_image {
    text-align:center
}


/*************** Block SUPPLIER ***************/
.blocksupplier form {margin-top:10px;}
.blocksupplier p {
    padding:0;
    text-align:center
}

/* Forms design */

form.custom.custom_resp div.custom.dropdown {
    width: 100% !important;
    text-align: left;
}

form.custom.custom_resp div.custom.dropdown.open ul {
    width: 100% !important;
}

.reveal-modal{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.table_scroll_small > table{
    width : 100%;
}

a.button{
    color: white;
}

a.button:hover{
    text-decoration : none;
}

fieldset{
    background: #F8F8F8;
}

select{
    border: 1px solid #CFCFCF;
    background: none repeat scroll 0 0 white;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 4px 10px;
}

p.select select#days,
p.select select#months,
p.select select#years{
    display: inline;
    width: 32%;
}

p.select select#years{
    width: 30%;
}

p.radio > span{
    display: block;
    margin-bottom: 3px;
    color: #4D4D4D;
}

p.checkbox label,
p.compare label,
p.radio label{
    display : inline;
}

p.required.text input,
p.required.password input{
    width : 95%;
    display: inline;
}

p.text input,
p.password input,
p.select select,
p.textarea textarea,
p.required.textarea textarea{
    width: 95%;
}

#create-account_form p.text input,
#login_form p.text input{
    width: 100%;
}

/* other */
#address .address_status{
    margin-bottom : 0;
}

#address .address_add{
    margin-top : 0;
}

#address  p.required.text input,
#address  p.required.password input{
    width : 95%;
    display: inline;
}

#address  p.text input,
#address p.password input,
#address p.textarea textarea {
    width: 95%;
}

#address p.required.select select{
    display: inline;
    width: 95%;
}

/* order opc */
#order-opc p.required.text input,
#order-opc p.required.password input,
#order-opc p.text input,
#order-opc p.password input{
    width: 95%;
    display: inline;
}

#order-opc p.textarea textarea,
#order-opc p.required.textarea textarea{
    width: 95%;
}

/* order */
.s_title_block {
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 10px;
}

.title_block {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Responsive Design ajustements */
@media only screen and (max-width: 767px){ /* Mobile */
    .table_scroll_small {
        overflow-x: scroll;
    }

    #address #submitAddress{
        margin-top : 10px;
    }

    #address p.address_navigation a.button {
        float: none;
    }

    p.text input,
    p.password input{
        width : 100%;
    }

    p.required.text input,
    p.required.password input,
    p.required.select select{
        width : 95%;
        display: inline;
    }

    p.textarea textarea,
    p.required.textarea textarea{
        width : 100%;
    }

    #address #days, #months,
    #years, select{
        width : 100%;
    }

    #form_compare{
        float: none;
        margin-top: 60px;
    }

    .idTabs {
        border : none;
        height : auto;
    }

    ul.idTabs li {
        float : none;
    }

    ul.idTabs li a {
        border : 1px solid #E6E6E6;
    }

    .cart_navigation .exclusive, .cart_navigation .exclusive_large {
        float: none;
        margin-bottom : 15px;
    }

    table#cart_summary .cart_quantity {
        width : auto;
    }

    .cart_quantity_down,
    .cart_quantity_up{
        display : none;
    }

    .row {
        min-width: 0;
    }
}

@media only screen and (max-width: 767px){
    /* shopping cart fix */
    table.table_responsive thead tr th.return_allowed,
    table.table_responsive thead tr th.reference,
    table.table_responsive thead tr th.quantity,
    table.table_responsive thead tr th.returned,
    table.table_responsive thead tr th.unit_price{
        display : none;
    }

    table .table-hide-small{
        display : none;
    }
}

/* only for steps */
@media only screen and (max-width: 462px){
    ul.step li .content{
        display : none;
    }
}

/* IE Fix */
html.lt-ie9 #responsive_links_top .top-bar ul li a{
    color : black;
    font-size: 17px;
    text-decoration : none;
    font-weight : normal;
    padding: 0 15px !important;
}
html.lt-ie9 #responsive_links_top .top-bar ul.dropdown a{
    color: #707070;
    font-size: 13px;
}
html.lt-ie9 #header_user ul#header_nav li#first_languages{
    padding-right : 25px;
}

html.lt-ie9 #header_user ul#header_nav li#first_languages ul.other_languages{
    width: 80px;
}

/*Kimm*/
#buyinglinks a{
color: #86b24b;
}
#buyinglinks{
font-size: 16px;
font-weight: bold;
color: #666666!important;
margin-left: 15px;
}

#responsive_links_top .top-bar ul li H1{
font-size: 1em;
margin: 0px;
}
#responsive_links_top{
margin-bottom: 2.25em;
}
#iachometext{
color: #666;

}

#iachometext ul{
margin-left: 2em;

}
.topbarsearch ul{
float: right;
width: 20em;
height: 2px;
list-style-type: none;
}
.topbarsearch .seven, .row .seven{
width: 20em;
}

