.info-order p .icon {
    position:relative;
    top:2px;
    left:0
}
#order-list tr.alternate_item {background-color: #f3f3f3}
#order-list  td.history_detail {border-right:none;}
#block-history label{
    display : inline;
}

.adresses_bloc {margin-bottom:20px}
.adresses_bloc  .item {margin-right:60px}

.detail_step_by_step {width:100%}

#order-detail-content table .order_qte_input {display:none}
#order-detail-content table tr:nth-child(even) {background:#f3f3f3;}

#sendOrderMessage {margin-bottom:20px}

#returnOrderMessage .textarea textarea,
#sendOrderMessage .textarea textarea {
    width:100%;
}














