#identity h3 {
    font-weight:normal;
    font-size:13px
}
#identity .std p.required {color:#333}
#identity .std p.text label sup,
#identity .std p.password label sup,
#identity .std p.select label sup {color:#990000}
#identity .std p.checkbox input {
    position:relative;
    top:2px;
}

#identity .std #security_informations {
    font-size:11px
}





