#product_list a.product_image img{
    width : auto;
}

#product_list a.product_image {
    overflow:hidden;
    position: relative;
}
#product_list li span.availability {
    right: 0;
    bottom: 3px;
}

#product_list li .lnk_view {
    margin-top: 5px;
}