/* product desc */

/* primary_block ***************************************************************************** */
#primary_block {padding-top:5px}

#primary_block h1 {
    margin-top: 0;
    font-size: 1.8em;
    position: relative;
    display: inline;
}

#product-information {
    margin-bottom: 12px;
}

/* pb-right-column ***************************************************************************** */
#pb-right-column  #image-block img {
    cursor: pointer;
    border: #D0D1D5 solid 1px;
    padding: 5px;
}
#pb-right-column  #image-block #view_full_size {
    display: block;
    cursor: pointer;
    text-align: center;
}
#pb-right-column  #image-block .zoomdiv .bigimg {
    max-width: none;
    border: none;
    padding: 0;
}

/* miniatures */
#pb-right-column .thumbs_list_row {
    padding-right: 0;
}
#thumbs_list {
    overflow: hidden;
    height: 351px;
    min-width: 70px;
}
#thumbs_list ul#thumbs_list_frame {
   list-style-type: none;
   padding-left: 0
}
#thumbs_list li {
   cursor: pointer
}
#thumbs_list a {
    display: block;
}
#thumbs_list li img {
    margin: 0 14px 6px 0;
    border: #D0D1D5 solid 1px;
    box-shadow: 3px 3px 5px #CECCCC;
    -webkit-box-shadow: 3px 3px 5px #CECCCC;
    -moz-box-shadow: 3px 3px 5px #CECCCC;
    padding: 3px;
    -webkit-transition: all 150ms ease-out;
    -moz-transition: all 150ms ease-out;
    transition: all 150ms ease-out;
}
#thumbs_list li img:hover {
    -webkit-box-shadow: 0 0 6px 1px rgba(43, 166, 203, 0.5);
    -moz-box-shadow: 0 0 6px 1px rgba(43, 166, 203, 0.5);
    box-shadow: 0 0 6px 1px rgba(43, 166, 203, 0.5);
}

#view_scroll_container {
    margin-top: 15px;
    border-top: #D0D1D5 solid 1px;
    padding-top: 10px;
}
#view_scroll_left,
#view_scroll_right {
    height: 18px;
    width: 32px;
    text-indent: -3000px;
    border: 1px solid #CECCCC;
}
#view_scroll_left {
    float: left;
    background: url(../img/icon/more-top.png) no-repeat center 4px #ffffff;
}
#view_scroll_right {
    float: right;
    background: url(../img/icon/more-bottom.png) no-repeat center -14px #ffffff;
}
#view_scroll_left:hover {
    background-position: center -14px;
}
#view_scroll_right:hover {
    background-position: center 4px;
}

.resetimg {padding:10px 0 0 0}

/* link list */
#usefull_link_block {
    list-style-type:none;
    margin-top: 20px
}
#usefull_link_block li {
    padding: 0 0 12px;
    text-align: center;
}
#usefull_link_block li:last-child {
    padding: 0;
}
#usefull_link_block li.print {
    padding-left:20px;
    background:url(../img/icon/print.gif) no-repeat 0 0;
}
#usefull_link_block li.sendtofriend {
    padding-left:20px;
    background:url(../img/icon/send_friend.gif) no-repeat 0 0;
}
#usefull_link_block li#left_share_fb{
    padding-left:20px;
    background:url(../img/icon/picto_fb.png) no-repeat 0 0;
}

/* pb-left-column ****************************************************************************** */
#pb-left-column {
    padding-left: 0;
}
#pb-left-column .wrap{
    border: 1px solid #CECCCC;
    padding: 0 15px;
}
#pb-left-column .content_prices_wrap {
    background-color: #CECCCC;
}
#pb-left-column #short_description_block {color:#666}
#pb-left-column #short_description_block .buttons_bottom_block {display:none}

/* form */
#pb-left-column  #buy_block {
    margin-top:10px;
    margin-bottom: 0;
}
#buy_block p {
    text-align : right;
}
#pb-left-column  #buy_block label {
    display:inline-block;
}

/* color_picker */
#pb-left-column #color_picker p {
    padding-bottom:5px;
    font-weight:bold
}
#attributes {
    padding: 15px 0 0 0;
    border-top: 1px solid #ccc;
}
#attributes fieldset {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0 0 10px 0;
}
#pb-left-column #buy_block #attributes label {
    display: block;
}
#attributes .attribute_list {
    display:inline-block;
}
.attribute_list #color_to_pick_list {
    list-style-type:none;
    margin-top: 4px;
    margin-left: 3px;
    margin-bottom: 0;
}
.attribute_list #color_to_pick_list li {
    float:left;
    margin:0 8px 8px 0;
    padding:1px;
    border:1px solid #ccc
}
.attribute_list #color_to_pick_list li.selected{
    border: 2px solid #000;
    margin-bottom: 6px;
}
.attribute_list #color_to_pick_list a.color_pick{
    display:block;
    height:30px;
    width:30px;
    border-bottom: none;
    cursor: pointer;
}

.product_attributes {
    margin-bottom: 10px;
}

#primary_block #add_to_cart_row{
    border-top: 1px solid #C3C3C3;
    padding-top: 15px;
}

/* quantity_wanted */
#buy_block #quantity_wanted_p { text-align : left; }
#buy_block #minimal_quantity_wanted_p { text-align: justify; }
#quantity_wanted_p input {
    width: 40px;
    display: inline;
    text-align : center;
    margin-top: 2px;
    margin-bottom: 0;
}
#quantityAvailable { font-weight: bold; }

/* availability_statut */
#availability_label { display:inline-block; }
#availability_value {
    font-weight: bold;
    color: #209B01;
}
#availability_value.warning_inline { color: #9b0000; }

/* availability_reference */
.availability_reference {
    margin-top: 15px;
}

/* product reference */
#product_reference label { display:inline-block; }

/* prices */
.content_prices {
    padding-top: 10px;
}

.content_prices p {
    margin-bottom: 0;
}
#buy_block p.price {padding:0}
.advert {
    float: right;
    background: #6D9A30;
    color: white;
    font-weight: normal;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 10px;
    padding: 3px 8px;
    z-index: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.3), inset 0 -1px 0 rgba(0,0,0,0.2), 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -1px 0 rgba(0, 0, 0, 0.2), 0 1px 2px rgba(0, 0, 0, 0.2);
}
.online_only {
    background: #2ba6cb;
}
.old_price {
    font-size:14px;
    text-decoration:line-through;
}
.our_price_display {
    font-weight:bold;
    font-size: 1.9em;
    color: #6D9A30;
}
.tax_display {
    font-size: 75%;
}
#reduction_percent,
#reduction_amount {
    display: block;
    float: left;
    padding: 0 0 0 10px;
    font-weight: bold;
    font-size: 12px;
    color: #fff;
    background: url(../img/bg_reduction.png) no-repeat 0 0 transparent;
    margin-top: 3px;
    margin-right: 8px;
}
#reduction_percent span,
#reduction_amount span {
    display: block;
    padding: 0 5px 1px 0;
    background: url(../img/bg_reduction.png) no-repeat 100% 0 transparent;
    line-height: 17px;
}

/* online_only */
#buy_block p.online_only {
    font-weight:bold;
    font-size:11px;
    color:#990000;
    text-align:left;
    text-transform:uppercase
}

/* SEND TO FRIEND (pop-in) ##################################################################### */
#send_friend_form {}
#send_friend_form h2 {
   padding:8px 11px;
   font-size:12px;
   color:#fff;
   text-shadow:0 1px 0 #000;
   text-transform:uppercase;
    background:#383838
}

#send_friend_form .product {margin:20px 10px}
#send_friend_form .product img {
    float:left;
    margin:0 10px 0 0;
    border:1px solid #ccc
}
#send_friend_form .product .product_desc {
    float:left;
    width: 380px;
}
#send_friend_form .product .product_desc p {
    padding:0 10px 0 0;
    color:#333
}
#send_friend_form .product .product_desc p.product_name {
    font-size:12px;
    color:#000
}

#send_friend_form .send_friend_form_content {margin:0 10px 20px 10px}
#send_friend_form .form_container {
    padding:10px 15px;
    border:1px solid #ccc;
    background:#eee
}
#send_friend_form .form_container p.intro_form {
    padding-bottom:14px;
    font-weight:bold;
    font-size:13px;
    color:#333
}
#send_friend_form .form_container p.txt_required {
    padding-bottom:0;
    color:#666

/* SEND TO FRIEND (pop-in) ##################################################################### */
}
#send_friend_form .form_container .text {padding-bottom:10px}
#send_friend_form .form_container .text label {
    display:inline-block;
   padding:6px 15px;
   width:180px;/* 210 */
   font-size:12px;
   text-align:right
}
#send_friend_form .form_container .text input {
   padding:0 5px;
   height:22px;
   width:260px;
    border:1px solid #ccc;
   font-size:12px;
   color:#666666;
}
#send_friend_form  .submit {
    margin-top:20px;
    padding-bottom:0;
    text-align:right
}

/* PACK ##################################################################### */
#blockpack {
    margin-top:20px;
    padding-top:20px;
    border-top:1px dotted #999
}

/* PERSONNALISATION ##################################################################### */
.customization_block {}
.customization_block p.infoCustomizable {
    margin:10px 0 20px;
    padding:0 0 0 20px;
    background:url(../img/icon/infos.gif) no-repeat 0 0 transparent
}

ul#uploadable_files,
ul#text_fields {list-style-type:none}
.customizableProductsFile,
.customizableProductsText{
    margin-bottom:20px;
    padding-bottom:10px;
    border-bottom:1px dotted #ccc;
}
.customizationUploadLine {padding-bottom:10px}
.customizationUploadLine label {
    display:inline-block;
    width:150px;
    vertical-align:top
}
.customizationUploadLine textarea {
    height:50px;
    width:300px;
    border:1px solid #ccc
}
#customizedDatas {
    float:right;
}
.accessories_block  div ul li a {
    display:inline-block
}

@media only screen and (max-width: 767px){ /* Mobile */
    #pb-left-column {
        padding: 0;
    }

    #pb-left-column .wrap{
        border-left: none;
        border-right: none;
    }

    #pb-right-column .thumbs_list_row { padding-right: 15px}

    #view_scroll_container { display: none}
    #thumbs_list { height: auto}
    #thumbs_list li { float: left }
    #thumbs_list ul#thumbs_list_frame {
        margin-bottom: 15px;
        height: auto !important;
    }
    #view_scroll_left, #view_scroll_right { display: none !important;}

    .resetimg { display: none;}
}