#stores #center_colum label {
    display:inline-block;
    width:150px;
    font-weight:bold;
    text-align:right
}
input#addressInput {
    width : 50%;
}
select#radiusSelect {
    margin: 0 5px 0 0;
    width:auto;
}

#stores_loader {
   display: none;
   margin-left: 5px
}

#locationSelect {
    visibility: hidden;
    border:1px solid #ccc
}

#stores #center_column p .button {float:right}

#map {
    margin:15px auto;
    height:375px;
    width: 100%;
}

#map img{
    max-width: none;
}

#stores-table {border-bottom:1px solid #999}
#stores-table tr:nth-child(odd) {background-color: #f3f3f3;}
#stores-table td {
    border-top:1px solid #ccc;
    border-bottom:none
}
#stores-table td.distance {border-right:1px solid #999}

@media only screen and (max-width: 767px){ /* Mobile */
    input#addressInput {
        width : 100%;
    }
}