@charset "utf-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/

body {
	margin:5px 0px; padding:0px;
	text-align:center;
	}


img, object, embed, video {
	max-width: 100%;
	text-align: center;
}

/*Kimm*/
.clock_single{ 
text-align: center;
margin-bottom: 1.25em;
}

table{
margin-left: auto;
margin-right: auto;
}

.price{
margin: 0px 0px 10px 0px;
}
ul, p{
margin: 3px 0px 5px 0px;
}
#TopMenu ul, ul {
list-style-type: none;
margin: 1.25em 0em;
padding: 0px;
}
h1{
font-size: 1.6em;
margin: 7px 0px 3px 0px;
}

#About,#Clocks p, #Clocks li, .infosection, #Highlight{
text-align: left;
}
#Clocks{
margin-top: 1.5em;
border-top: 1px dotted #000;
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}

#About{
font-size: 14px;
}

a:link{
color: #689c2a;
}

a:visited{
color: #34530f;
}

#Highlight{
color: #689c2a;
font-size: 16px;
font-weight: bold;
margin-bottom: 7px;
}


.clock_page {
clear: both;
text-align: center;
padding-top: 30px;
}

#cbaxmlButton{
padding-top: 6px;
}
.infosection{
margin-top: 3.5em;
border-top: 1px dotted #000;
}

/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#LayoutDiv2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Logo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
	text-align: center;
}



/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#LayoutDiv2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Logo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}


.clocksize{
max-width:325px;
}

}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#LayoutDiv2 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
#Logo {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}


/*Kimm*/
.clock_single{
float: left;
}

#TopMenu {
	width:750px;
	margin:0px auto;
	text-align:left;

}



#TopMenu li{
float: left;
margin: 0em 1em;
font-weight: bold;
}

}
