#favoriteproducts_block_account .favoriteproduct {
    position:relative;
    margin-bottom: 14px;
    padding: 12px 8px;
    border: 1px solid #eee;
    border-radius: 3px 3px 3px 3px;
}

.favoriteproduct a.product_img_link {
    border: 1px solid #CCCCCC;
    display: block;
    float: left;
    margin-right: 14px;
    overflow: hidden;
    position: relative;
}

.favoriteproduct h3 {
    margin-top: 0;
}

.favoriteproduct  p.product_desc {
    line-height: 16px;
    overflow: hidden;
    padding: 0;
}

.favoriteproduct .remove {
    position:absolute;
    top:10px;
    right:10px
}
.favoriteproduct .remove .icon {cursor:pointer}


/* lnk fiche produit */
#usefull_link_block li#favoriteproducts_block_extra_add,
#usefull_link_block li#favoriteproducts_block_extra_remove {
    cursor: pointer;
}

ul#usefull_link_block li#favoriteproducts_block_extra_added,
ul#usefull_link_block li#favoriteproducts_block_extra_removed {
    cursor: pointer;
    display: none;
}