/* Block tags */
div.tags_block .block_content { padding: 3px 6px 0 }
div.tags_block p {
	text-align: left;

}
div.tags_block p a {
	margin: 0 0.1em;
	line-height: 1.5em;
	padding:2px;
font-family: 'Marck Script', cursive;
}
div.tags_block p a:hover {
	background-color: #ccc;
	text-decoration: none;
	padding:2px;
	color:#333333;
}
a.tag_level3 { font-size: 1.3em; font-weight: bold }
a.tag_level2 { font-size: 1.1em }
a.tag_level1 { font-size: 1.0em; color: #888 }
