/* Header */
#responsive_links_footer ul{
    list-style: none;
    margin-bottom: 0;
}

#responsive_links_footer li{
    float : left;
    margin-right: 10px;
}

#responsive_links_top .top-bar {
    margin-bottom : 0;
    height: 46px;
    background: white;
    border-top: 1px solid #c3c3c3;
    border-bottom: 1px solid #c3c3c3;
    max-width: 1020px;
}

#responsive_links_top .top-bar > ul .name h1 {
    line-height: 1.1;
}

#responsive_links_top .top-bar > ul .name h1 a {
    padding-left: 5px;
}

#responsive_links_top .top-bar ul > li:hover a,
#responsive_links_top .top-bar ul > li.active a{
    color: #707070;
}

#responsive_links_top .top-bar ul > li a{
    color: black;
    font-weight: normal;
    font-size: 1.1em;
    text-decoration : none;
    border-right: 1px solid #c3c3c3;
}

#responsive_links_top .top-bar ul > li.last a{
    border-right: none;
}

#responsive_links_top .top-bar ul > li:hover,
#responsive_links_top .top-bar ul > li.active {
    background: none;
}

/* Dropdown */

#responsive_links_top .top-bar ul > li.has-dropdown .dropdown,
#responsive_links_top .top-bar ul > li.has-dropdown .dropdown li{
    background: #F7F7F7;
}

#responsive_links_top .top-bar ul > li.has-dropdown .dropdown li.divider {
    border-top: solid 1px #C9C9C9;
    height : 5px;
}

#responsive_links_top .top-bar ul > li.has-dropdown .dropdown li a:hover {
    background: #DDD;
}

#responsive_links_top .top-bar ul > li.has-dropdown a:after {
    border-color: black transparent transparent transparent;
}

#responsive_links_top .top-bar ul > li.has-dropdown ul.dropdown a{
    color: #707070;
    font-size: 13px;
    border : none;
    display: block;
    border : none;
}

#responsive_links_top .top-bar ul > li.has-dropdown.moved .back.title h5 a {
    font-size: 1.6em;
    font-weight: bold;
}

#responsive_links_top .top-bar ul.dropdown > li:hover,
#responsive_links_top .top-bar ul.dropdown > li.active {
    background: #222;
}

#responsive_links_top #search_bar{
    padding-right: 0;
    padding-top: 6px;
}

/* /Header */

/* Footer */

#footer{
    font-size: 1.2em;
}

#footer ul{
    list-style-type : none;
}

#footer a{
    text-decoration : none;
    font-size: 1.2em;
}

#footer h4{
    letter-spacing: 2px;
    font-size: 1.6em;
}

#footer h4 a{
    font-size: 1em;
    color: #222;
}

#footer #follow_us_footer li{
    float : left;
    margin-right : 10px;
    line-height: 0;
}

#footer #follow_us_footer li.last{
    float : left;
    margin-right : 0;
}

#footer #follow_us_footer a{
    font-size : 3.5em;
}

#footer #follow_us_footer img{
    width : 80%;
}

#footer #newsletter_block select{
    width: 100%;
    display : inline-block;
}

#footer #newsletter_block p.success_inline {
    color: #418B19;
    font-weight: bold;
}

#footer #newsletter_block p.warning_inline {
    color: #DA0F00;
    font-weight: bold;
}

#footer #newsletter_block input.submitNewsletter{
    z-index: 0;
    padding: 9px 20px 11px 11px;
}

#footer_bottom{
    margin-top : 15px;
}

/* /Footer */

/* Ajax search */
body .ac_results{
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-top: none;
    border-bottom: 1px solid #CCC;
    width : auto !important;
}

body .ac_results li {
    padding: 6px;
    font-family: 'Droid Serif', serif;
}

body .ac_results li:first-child {
    border-top: 1px solid #CCC;
}

@media only screen and (max-width: 940px){
    #responsive_links_top .top-bar.expanded {
        height: 100%;
    }

    #responsive_links_top .top-bar ul > li.toggle-topbar {

    }

    #responsive_links_top .top-bar ul > li.name {
        background: none;
    }

    #responsive_links_top .top-bar ul > li a{
        border-right: none;
    }

    #responsive_links_top .top-bar ul > li.toggle-topbar a.button-toggle {
        border-color: black transparent transparent transparent;
        border-right-style: solid;
        border-right-width: 8px;
        right: 8px;
    }

    #responsive_links_top .top-bar.expanded ul > li.toggle-topbar a.button-toggle {
        border-color: transparent transparent rgba(0, 0, 0, 0.5) transparent;
    }
}