/* block top languages */
#languages_block_top {
    float:right;
}
#languages_block_top ul#first-languages li {

}
#languages_block_top ul#first-languages li.selected_language {

}
/*languages with jquery*/
#countries {
    cursor: pointer;
}
#countries .countries_ul{
    display:none;
    position:absolute;
    z-index: 100;
    padding-left: 5px;
    padding-right: 10px;
    list-style-type:none;
    background-color: white;
    border-bottom: 1px solid #DBDADA;
    -moz-box-shadow: 2px 2px 12px #E2E1E1;
    -webkit-box-shadow: 2px 2px 12px #E2E1E1;
    box-shadow: 2px 2px 12px #E2E1E1;
}
#countries .countries_ul_hover{
    display:block;
    z-index: 50;
}