#featured{
    background: url('../responsiveextension/images/foundation/orbit/loading02.gif') no-repeat center center ;
    height: 300px;
    margin-top: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
#featured img { display: none; }

#featured.orbit { background: none; }
#featured.orbit img {
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
}

.orbit-wrapper .orbit-caption{
    font-size : 16px;
    border-radius: 0px 0px 5px 5px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    -o-border-radius: 0px 0px 5px 5px;
/*Kimm*/
background: transparent;
color: #000;
}

.orbit-wrapper .timer{
    display : none;
}