/* Block specials */
#special_block_right p {
    padding-bottom:0;
    font-weight:bold;
    text-align:right
}

#special_block_right .products {
    padding-top: 10px;
}

#special_block_right .products li {
    float : left;
    border: none;
}
#special_block_right li .s_title_block, #special_block_right li h5 {
    font-size:12px;
    margin: 0;
}
#special_block_right .products li a {
    padding:0;
    background:none
}
#special_block_right li.product_image {
    width: 28%;
}
#special_block_right li.product_image img {
    border: 1px solid #D0D1D5;
    box-shadow: 5px 5px 12px #CECCCC;
    -webkit-box-shadow: 5px 5px 12px #CECCCC;
    -moz-box-shadow: 5px 5px 12px #CECCCC;
    background-color: white;
    padding: 2px;
}

#special_block_right li.product_price {
    width: 72%;
    padding-left: 12px;
}
#special_block_right .products span.price-discount {
    font-size:14px;
    text-decoration:line-through
}
#special_block_right .products span.reduction {
    display:block;
    float:right;
    padding:0 0 0 10px;
    font-weight:bold;
    font-size:12px;
    color:#fff;
    background:url(../../../img/bg_reduction.png) no-repeat 0 0
}
#special_block_right .products span.reduction span {
    display:block;
    padding: 0 5px 1px 0;
    background:url(../../../img/bg_reduction.png) no-repeat 100% 0;
    line-height: 17px;
}
#special_block_right .products span.price {
    display:block;
    font-weight:bold;
    font-size:14px;
    color: #EF4135;
}
